<div *mobxAutorun>

  <div class="filters">
    <button (click)="resetAll()">Reset All</button>
    <input type="number" [(ngModel)]="minPrice" placeholder="minPrice">
    <input type="number" [(ngModel)]="maxPrice" placeholder="maxPrice">
    <input type="text" [(ngModel)]="name" placeholder="Search">
    On Sale
    <input type="checkbox" [(ngModel)]="onSale">
  </div>

  <div class="products">
    <div *ngFor="let product of items">
      <app-product [product]="product"></app-product>
    </div>
  </div>

  <button *ngIf="availableMore" (click)="showMore()">Load more</button>
</div>
