.product {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  max-width: 340px;
  position: relative;
}

.sale {
  position: absolute;
  top: 10px;
  right: 20px;
}
