<div class="product">
  <p *ngIf="product.sale" class="sale">%</p>
  <img [src]="product.picture" [alt]="product.name">
  <p>{{product.name}}</p>
  <p>{{product.price}}</p>
  <p>Rating: {{product.rating}}</p>
</div>
